html {
    scroll-padding-top: 70px;
}

body {
    padding-top: 55px;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.bg-img {
    background-image: url("../image/img_mv.png");
    background-size: cover;
    background-position: center 20%;
    backdrop-filter: blur(2px);
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    z-index: 0;
    overflow: hidden;
}

.bg-img::before {
    content: '';
    position: absolute;
    /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: inherit;
    filter: blur(2px);
    filter: brightness(60%);
    z-index: -1;
  }

.bg-img h1 {
    color: #fff;
}

.hidden {
    visibility: hidden;
}

.mv-text {
    /*
    background-color: #FFE05D;
    */
    white-space: nowrap;
    padding: 1.5em;
}

.thumbnail {
    width: 250px;
    height: auto;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.thumbnail img {
    object-fit: cover;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    height: auto;
}

.hover-mask {
    align-items: center;
    /* テキストの中央揃え */
    background: rgba(0, 0, 0, .5);
    /* マスクの色(黒の50%) */
    bottom: 0;
    color: #fff;
    /* テキストの色 */
    display: flex;
    /* テキストの中央揃え */
    height: auto;
    justify-content: center;
    /* テキストの中央揃え */
    left: 0;
    opacity: 0;
    /* 最初は透明(非表示) */
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .4s ease;
    /* ゆっくりopacityのみへ変化させる */
    width: 100%;
}

.hover-mask:hover {
    opacity: 1;
    /* hoverしたら透過しない(表示させる) */
}

section {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
}

section:nth-of-type(2n+1){
	background:#eee;
}

section h1 {
    display: inline-block;
    border-bottom: solid 2px #6594e0;
}

.skill-icon {
    height: 5.5rem;
    max-width: 7.5rem;
    object-fit: contain;
}

.modal-headline {
    border-top: solid #1e366a 1px;/*上のボーダー*/
    border-bottom: solid #1e366a 1px;/*下のボーダー*/
    padding: 0.5em 0 0.5em 0.5em;
    margin-bottom: 3em;
}

.modal-body ul li {
    line-height: 1.5;
    padding: 0.25em 0;
    margin-top: 3px;
    margin-bottom: 3px;
    list-style: none;
}

.work-detail-main img {
    background-color: white;
    height: 18.5rem;
    object-fit: contain;
}

.carousel-inner {
    height: 18.5rem;
}

.carousel-inner img {
    background-color: white;
    height: 18.5rem;
    object-fit: contain;
}
  
.carousel-indicators img {
    max-width: 100px;
}

.lang-icon {
    height: 90px;
    max-width: 250px;
    padding: 15px;
    object-fit: contain;
}

.personal-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1em;
}

.fa-angle-left, .fa-angle-right {
    color: #6495ed;
    font-size: 2.5em;
}

.row [class*='col-'] {
    transition: all 0.25s ease-in-out;
}

.fadeInTrigger{
	opacity: 0;
}
